<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Funbox test
body
	.wraper
		.single-block
			.single-block__title Ты сегодня покормил кота?
			.single-block__body
				#single-block__first.single-block__card
				#single-block__second.single-block__card
				#single-block__third.single-block__card