// fonts
$main_font: 'Trebuchet MS';
$secondary_font: 'Exo';
// colors
$dark: #000000;
$dark50: #666666;
$light: #ffffff;
$disabled_text: #ffff66;
$disabled_border: #b3b3b3;
$primary: #1698d9;
$secondary: #e62e7a;
$card_background: #f2f2f2;
// different
$corner-rounding: 12px;